@import url(./__section-title/resources__section-title.css);
@import url(./__section-subtitle/resources__section-subtitle.css);
@import url(./__logo-zone/resources__logo-zone.css);
@import url(./__logo-container/resources__logo-container.css);
@import url(./__logo/resources__logo.css);

.resources {
  padding: 100px 0 217px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
