@import url(./__section-title/digits__section-title.css);
@import url(./__section-subtitle/digits__section-subtitle.css);

.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
